<h2>
  Create Employee
</h2>
<form #empForm="ngForm" (ngSubmit)="formSubmit(empForm)">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" name="fname" [(ngModel)]="fname" id="fname" class="form-control" />
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" [(ngModel)]="lname" name="lname" id="lname" class="form-control" />
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" />
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>
{{empForm.value | json}}