<div class="row">
  <div class="col-sm-4" *ngFor="let emp of employees">
    <div class="card">
      <img class="card-img-top" [src]="emp.photoPath" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{emp.name}}</h5>
        <div class="card-text">
          <div>
            Email: {{emp.email}}
          </div>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>