@using System.Web.Mvc.Html
@model SiteWithPostgres.Web.Models.Shared.AddressViewModel

<div class="form-group">
    @Html.LabelFor(m => m.AddressLine1, Global.Address).Required()
    @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
    @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.AddressLine1, Global.AddressRequiredErrorMessage)
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.CityArea, Global.City).Required()
            @Html.TextBoxFor(m => m.CityArea, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CityArea, Global.CityRequiredErrorMessage)
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(m => m.StateProvince, Global.State).Required()
            @Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control", data_val = "true", data_val_required = "*" })
            @Html.ValidationMessageFor(m => m.StateProvince, Global.StateRequiredErrorMessage)
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(m => m.PostalCode, Global.ZipCode).Required()
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", data_val = "true", data_val_required = "*" })
            @Html.ValidationMessageFor(m => m.PostalCode, Global.ZipCodeRequiredErrorMessage)
        </div>
    </div>
</div>
