@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.Admin.Models.Pages.AddEditViewModel
<div class="form-group">
    @Html.LabelFor(i => i.Page.Title).Required()
    @Html.EditorFor(i => i.Page.Title)
    @Html.ValidationMessageFor(i => i.Page.Title)
</div>
<div class="form-group">
    @Html.LabelFor(i => i.Page.Content).Required()
    @Html.EditorFor(i => i.Page.Content)
    @Html.ValidationMessageFor(i => i.Page.Content)
</div>
<div class="form-group">
    @Html.LabelFor(i => i.Page.Preview).Required()
    @Html.EditorFor(i => i.Page.Preview)
    @Html.ValidationMessageFor(i => i.Page.Preview)
</div>
@Html.HiddenFor(i => i.Page.PageId)




