@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.Admin.Models.Pages.AddEditViewModel

@{
    ViewBag.Title = "Add New Page";
}

<div class="row">
    <div class="@Html.Css().FormNormal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(i => i.Page.Title).Required()
                @Html.EditorFor(i => i.Page.Title)
                @Html.ValidationMessageFor(i => i.Page.Title, "Please enter page title")
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Page.TagName).Required()
                @Html.TextBoxFor(i => i.Page.TagName, new { @class = "form-control" })
                @Html.ValidationMessageFor(i => i.Page.TagName, "Please enter page title")
            </div>
            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Save</button>
            </section>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(function() {

            $("input[name='Title[1].Value'], input[name='Title[0].Value']").change(function () {
                
                var titleAr = $("input[name='Title[1].Value']");
                var titleEn = $("input[name='Title[0].Value']");
                $("input[name='Page.Title']").val(titleAr + titleEn);
            });
        });
    </script>
}


