@using Kendo.Mvc.UI
@using SiteWithPostgres.Entities
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.Admin.Models.Pages.IndexViewModel

@{
    ViewBag.Title = "Pages Data Managment";
    
}

<ul class="link-list">
    <li><a href="@Url.Action("Add", "Pages", new {Area="Admin"})"><i class="fa fa-plus fa-pad-right"></i>Add New Page</a></li>
    <li><a href="#"><i class="fa fa-file-excel-o fa-pad-right"></i>Download Excel</a></li>
</ul>

@(Html.Kendo().Grid<SiteWithPostgres.Entities.Page>()
      .Init(ajax => ajax.Action("GetData", "Pages", new { search = Model.Search }))
      .Columns(columns =>
      {
          columns.Bound(i => i.Title);
          columns.Bound(i => i.TagName);
          columns.Bound(i => i.CreatedUtc).FormatDate().Title("Created");
          columns.LinkColumn("Details", "/en/admin/pages/#=PageId#/edit");
          columns.LinkColumn("Delete", "/en/admin/pages/#=PageId#/delete");

      }))
