@model SiteWithPostgres.Entities.News

@{
    ViewBag.Title = Model.Title;
    
}
<div class="row header-sp">
    <div class="col-md-9">
        <h2>
            @Model.Title
        </h2>
        <p class="text-warning small">@Global.AddOn @Model.Date.ToString("dd/MM/yyyy")</p>
        <p>
            @Html.Raw(Model.Content)
        </p>
    </div>
    <div class="col-md-3">
        @Html.Action("NewsList", "Home")
    </div>
</div>
