@model SiteWithPostgres.Entities.Service

@{
    ViewBag.Title = @Model.Title;
    
}

<section  class="about_us light_section">
    <div class="container">    
        <div class="row">
            <h1 class="text-center">@Model.Title</h1>  
            <div class="col-sm-4 to_animate text-center" data-animation="fadeInLeftBig">
                <img src="~/img/service/@Model.Image" alt="">
            </div>
            <div class="block col-sm-8 to_animate" data-animation="fadeInRightBig">    
                <p>
                    @Html.Raw(Model.Description)
                </p>   
                
            </div> 

        </div>   
    </div>
</section>
