@model IReadOnlyCollection<SiteWithPostgres.Entities.Service>

@{
    ViewBag.Title = "Our Services";
}

<section class="darkgrey_section" id="title_about">
    <div class="container">
        @{
            var count = 0;
        }
        <div class="row">
            @foreach (var service in Model)
            {

                <div class="col-sm-6 col-md-3 to_animate text-center" data-animation="fadeInUpBig">
                    <img class="img-circle" src="~/img/service/@service.Image" alt="">
                    <div class="banner_description text-center">
                        <h4 class="title">@service.Title</h4>
                        <p class="title_description">@service.Prev</p>
                        <a class="theme_btn" href="@Url.Action("Detail", "Service", new {id=service.ServiceId})">Read more</a>
                    </div>
                </div>


            }
        </div>
    </div>
</section>


