﻿.multipleUploadContainer {
  margin: 0;
  padding: 0;
  list-style: none;
}
.multipleUploadContainer li {
  float: left;
  margin-right: 10px;
}
.image-uploader {
  width: 150px;
  min-height: 200px;
}
.image-uploader .image-uploader-zone {
  width: 100%;
  height: 150px;
  padding: 25px 5px;
  border: 2px dashed #ccc;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  cursor: pointer;
}
.image-uploader .image-progress-spinner {
  display: none;
}
.image-uploader .image-progress-message {
  font-size: 12px;
  font-style: italic;
}
.image-uploader .image-uploader-footer {
  padding: 6px 0;
}
.image-uploader .image-uploader-footer .image-delete-button {
  display: none;
  padding: 0;
}
.image-uploader .image-error-message {
  color: red;
  display: none;
}
.image-uploader .dz-details,
.image-uploader .dz-filename,
.image-uploader .dz-size,
.image-uploader .dz-progress,
.image-uploader .dz-success-mark,
.image-uploader .dz-error-mark,
.image-uploader .dz-error-message {
  display: none;
}