﻿.logo-small {
  height: 50px !important;
  width: 82px !important;
}
.navbar {
  min-height: 80px !important;
}
.logo-big {
  margin-top: 0px !important;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#page-top h2 {
  margin-top: 0px !important;
}
#page-top .page-top-title {
  top: 125px;
}
.content {
  padding-top: 25px;
}
.link-list {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.link-list li {
  display: inline;
  margin-right: 8px;
}
.link-list li:last-child {
  margin-right: 0;
}
.link-list form {
  display: inline-block;
}
.navbar-right .dropdown-menu {
  left: -100px !important;
}
.feature-icon {
  color: #D40436;
}
#about p,
#skills p {
  color: #fff !important;
}
form section,
section.form-section {
  background: #f5f5f5;
}
@media screen {
  form section,
  section.form-section {
    padding: 32px;
  }
}
form section:not(:last-child),
section.form-section:not(:last-child) {
  margin-bottom: 32px;
}
.form-buttons {
  margin-top: 15px;
  padding: 32px 0 0 0;
  background: none;
  border-top: 1px solid #D40436;
  text-align: right;
}
textarea.form-control {
  resize: vertical;
  min-height: 180px;
}
input[type=number].no-spinner::-webkit-inner-spin-button,
input[type=number].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-control {
  height: auto;
  min-height: 38px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  box-shadow: none;
}
.form-control,
.btn {
  border-radius: 0;
}
.form-control-sm {
  width: 75px !important;
}
@media (max-width: 320px) {
  .form-control-sm {
    width: 60px !important;
  }
}
.form-control-md {
  width: 125px !important;
}
.form-control-static:after {
  content: '\0000a0';
}
.form-search {
  margin-bottom: 25px;
}
.form-readonly {
  opacity: 0.5;
}
.form-group {
  margin-bottom: 4rem;
}
.form-group .form-control {
  margin-bottom: 5px;
  border-color: #ebedf2;
}
.input-group .form-control {
  margin-bottom: 0;
}
.form-group .form-control:last-child {
  margin-bottom: 0;
}
.form-inline .form-control:last-child {
  margin-bottom: 5px;
}
.input-group {
  margin-bottom: 5px;
}
.input-group .form-control {
  margin-bottom: 0 !important;
}
.input-group-addon {
  border-radius: 0;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.btn,
.btn:hover,
.btn:focus {
  /*padding: 10px 24px;*/
  outline: none !important;
  border: none !important;
  box-shadow: none;
  text-shadow: none;
  opacity: 1;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 2px;
}
@media (max-width: 320px) {
  .btn,
  .btn:hover,
  .btn:focus {
    font-size: 14px;
  }
}
.btn:lang(ar),
.btn:hover:lang(ar),
.btn:focus:lang(ar) {
  letter-spacing: normal;
}
.btn:hover,
.btn:hover:hover,
.btn:focus:hover {
  opacity: 0.7;
}
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background: #e1c521 !important;
  box-shadow: none !important;
  color: #fff !important;
}
.btn-default:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.btn-link,
.btn-link:hover {
  opacity: 1 !important;
}
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error,
textarea.input-validation-error {
  border-color: #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
.required-label {
  display: inline-block;
  margin: -4px 0 0 8px;
  color: #b94a48;
  font-size: 1rem;
  vertical-align: text-top;
}
.localized-content > li {
  margin-bottom: 5px;
}
.localized-content > li:last-child {
  margin-bottom: 0;
}
.localized-content > li .input-group-addon {
  min-width: 60px;
  font-size: 0.9rem;
  background-color: #ebedf2;
  color: #000;
  padding: 5px 5px;
}
.localized-content > li:lang(en) .input-group-addon {
  text-transform: uppercase;
}
.localized-content > li:lang(ar) .form-control {
  direction: rtl;
}
:lang(ar) body {
  font-size: 1.6rem;
}
:lang(ar) .nav {
  padding-right: 0;
}
:lang(ar) .navbar-brand {
  float: right !important;
}
:lang(ar) .navbar-right {
  float: left !important;
}
:lang(ar) .navbar-toggle {
  float: left !important;
}
@media (min-width: 768px) {
  :lang(ar) .navbar-brand {
    margin-left: 0;
    margin-right: -15px;
  }
  :lang(ar) .navbar-right {
    margin-right: 0;
    margin-left: -15px;
  }
  :lang(ar) .navbar-header {
    float: right !important;
  }
  :lang(ar) .navbar-nav > li {
    float: right;
  }
  :lang(ar) .navbar-right .dropdown-menu {
    right: auto;
    left: 0;
  }
}
:lang(ar) .dropdown-menu {
  text-align: right;
}
:lang(ar) .fa-pad-left {
  padding-left: 0;
  padding-right: 4px;
}
:lang(ar) .fa-pad-right {
  padding-left: 4px;
  padding-right: 0;
}
:lang(ar) .fa-fw.fa-pad-right {
  margin-left: 6px;
  margin-right: 0;
}
:lang(ar) .radio label,
:lang(ar) .checkbox label {
  padding-right: 20px;
  padding-left: 0;
}
:lang(ar) .radio input[type="radio"],
:lang(ar) .radio-inline input[type="radio"],
:lang(ar) .checkbox input[type="checkbox"],
:lang(ar) .checkbox-inline input[type="checkbox"] {
  margin-right: -20px;
  margin-left: 0;
}
:lang(ar) .close {
  float: left;
}
:lang(ar) .input-group-addon {
  border: 1px solid #ccc;
}
:lang(ar) .input-group-addon:first-child {
  border-left: 0;
}
:lang(ar) .input-group-addon:last-child {
  border-right: 0;
}