﻿@import url("variables");

form section, section.form-section {
    background: #f5f5f5;

    @media screen {
        padding: 32px;
    }

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.form-buttons {
    margin-top: 15px;
    padding: 32px 0 0 0;
    background: none;
    border-top: 1px solid @base;
    text-align: right;
}

textarea.form-control {
    resize: vertical;
    min-height: 180px; 
}

input[type=number].no-spinner::-webkit-inner-spin-button, 
input[type=number].no-spinner::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-control {
    height: auto;
    min-height: 38px;
    font-size: @font-size;
    line-height: @line-height;
    box-shadow: none;
}

.form-control, .btn {
    border-radius: 0;
}

.form-control-sm {
    width: 75px !important;

    @media @media-smallscreen {
        width: 60px !important;
    }
}

.form-control-md {
    width: 125px !important;
}

.form-control-static:after {
    content: '\0000a0' // add &nbsp; to prevent empty contents from collapsing
}

.form-search {
    margin-bottom: 25px;
}

.form-readonly {
    opacity: 0.5;
}
.form-group{
    margin-bottom: 4rem;
}

.form-group .form-control {
    margin-bottom: 5px;
    border-color: #ebedf2;
}

.input-group .form-control {
    margin-bottom: 0;
}

.form-group .form-control:last-child {
    margin-bottom: 0;
}

.form-inline .form-control:last-child {
    margin-bottom: 5px;
}

.input-group {
    margin-bottom: 5px;

    .form-control {
        margin-bottom: 0 !important;
    }
}

.input-group-addon {
    border-radius: 0;
    font-size: @font-size;
    line-height: @line-height;
}

.btn, .btn:hover, .btn:focus {
    /*padding: 10px 24px;*/
    outline: none !important;
    border: none !important;
    box-shadow: none;
    text-shadow: none;
    opacity: 1;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    font-size: @font-size + 0.1;
    font-weight: normal;
    letter-spacing: 2px;

    @media @media-smallscreen {
        font-size: 14px;
    }

    &:lang(ar) {
        letter-spacing: normal;
    }

    &:hover {
        opacity: 0.7;
    }
}

.btn-default { 
    &, &:hover, &:focus, &:active, &.active { 
        background: @orange !important; 
        box-shadow: none !important; 
        color: @white !important; 
    } 
 
    &:focus { 
        box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36); 
    } 
} 

.btn-link, .btn-link:hover {
    opacity: 1 !important;
}

.field-validation-error {
    color: @danger;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error,
textarea.input-validation-error {
    border-color: @danger;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: @danger;
}

.validation-summary-valid {
    display: none;
}

.required-label {
    display: inline-block;
    margin: -4px 0 0 8px;
    color: @danger;
    font-size: 1rem;
    vertical-align: text-top;
}

.localized-content {
    > li {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        .input-group-addon {
            min-width: 60px;
            font-size: 0.9rem;
            background-color: #ebedf2;
            color: @black;
            padding: 5px 5px;
        }

        &:lang(en) .input-group-addon {
            text-transform: uppercase;
        }

        &:lang(ar) .form-control {
            direction: rtl;
        }
    }
}