﻿.k-widget {
  border: none;
}
.k-grid table {
  border-collapse: collapse;
}
.k-grid table tbody {
  font-size: 1.3rem;
}
.k-grid-header .k-header:first-child,
.k-grid tbody td:first-child,
.k-grid tfoot td:first-child {
  border-left-width: 1px;
}
.k-header a {
  color: #fff !important;
}
.k-alt {
  background-color: transparent;
}
.k-pager-wrap {
  background-color: #D40436;
}
.k-pager-wrap .k-link {
  border: none;
  border-radius: 0 !important;
}
.k-pager-numbers .k-state-selected {
  border-radius: 0;
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: #808080;
  background-color: #fed9e2;
  border-color: #fed9e2;
}
.k-loading-image {
  background-image: url('https://ojs.azureedge.net/assets/spinner-bars-40x60-333333-635981266485487033.svg');
}
.k-loading-color {
  opacity: .75;
}