﻿.form-report-filter {
  margin-bottom: 1em;
}
.date-picker {
  width: 120px !important;
}
.ui-corner-all {
  border-radius: 0 !important;
}
.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__email {
  font-size: 10px;
}
.m-btn--pill {
  border: solid 1px #ebedf2 !important;
  font-size: 1.1rem !important;
}
.m-btn--pill:hover {
  font-size: 1.1rem !important;
}
select.form-control:not([size]):not([multiple]) {
  height: auto !important;
}
.form-control {
  font-size: 14px;
  line-height: 17.5px;
}
table.table-striped tbody th,
.table.table-striped tbody td {
  font-size: 14px;
}