﻿@import "variables";
.logo-small {
    height: 50px !important;
    width: 82px !important;
}

.navbar {
    min-height: 80px !important;
}

.logo-big {
    margin-top: 0px !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#page-top {
    h2 {
        margin-top: 0px !important;
    }

    .page-top-title {
        top: 125px;
    }
}

.content{
    padding-top: 25px;
}
.link-list {
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
    text-align: right;

    li {
        display: inline;
        margin-right: 8px;
    }

    li:last-child {
        margin-right: 0;
    }

    form {
        display: inline-block;
    }
}
.navbar-right {
    .dropdown-menu{
        left: -100px !important;
    }
}

.feature-icon{
    color: @base;
}

#about, #skills {
    p {
        color: @white !important;
    }
}
