﻿@media-widescreen: ~"(min-width: 1200px)";
@media-small-desktop: ~"(min-width: 768px) and (max-width: 900px)";
@media-desktop: ~"(min-width: 768px)";
@media-mobile: ~"(max-width: 767px)";
@media-smallscreen: ~"(max-width: 320px)";

@font-size: 1.5rem;
@font-color: #333;
@line-height: @font-size + 0.9;

@base: #D40436;
@white: #fff;
@black: #000;
@dark1: #191919;
@dark2: #292929;

@success: #008c00;
@danger: #b94a48;
@warning: #D9A300;
@info: #00468C;
@green: #60bf93;
@green2: #60bf93;
@orange: #e1c521;
@gray1: #8a8c8f;
@gray2: #d9d9d9;
@gray3: #b7b7b5;
@light-gray: #e1e1e1;