@model SiteWithPostgres.Web.Models.Shared.PageViewModel

@{
    ViewBag.Title = @Model.Page.Title;
    
}

<section class="about_us light_section">
    <div class="container">
        <div class="row">
            <h1 class="text-center">@Model.Page.Title</h1>
            <div class="col-sm-4 to_animate text-center" data-animation="fadeInLeftBig">
                <img src="~/SystemDir/Images/@Model.Image.Url" alt="">
            </div>
            <div class="block col-sm-8 to_animate" data-animation="fadeInRightBig">
                <p>
                    @Html.Raw(Model.Page.Content)
                </p>

            </div>
        </div>
    </div>
</section>
