@model SiteWithPostgres.Entities.Contact

@{
    ViewBag.Title = "Contact Us";

}

<section id="middle" class="light_section">
    <div class="container">

        <div class="row">
            <div class="block widget_text col-sm-5 to_animate" data-animation="fadeInLeftBig">
                <h1 class="text-center">contact<br><span>info</span></h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.4272832478337!2d35.85809691456818!3d32.54143990326821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c76927adac525%3A0x6edc659c30e9c82b!2sAl-Mokhtar+Stores!5e0!3m2!1sen!2sjo!4v1517774991979" width="450" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                <p>For more information and inquiry please send a message to the staff by completing the form below and the team will respond to your inquiries as soon as possible.</p>
                <p>
                    <strong>Address:</strong> Jordan, Irbid, Above Al Mokhtar Stores <br>
                    <strong>Phone: </strong> (+962) 796589282<br>
                    <strong>Email: </strong><a href="mailto:info@SiteWithPostgres.com">info@SiteWithPostgres.com</a><br>
                    <strong>Website: </strong><a href="http://www.SiteWithPostgres.com">www.SiteWithPostgres.com</a>
                </p>

            </div>
            <div class="block col-sm-7 to_animate" data-animation="fadeInRightBig">
                <h1 class="text-center">contact<br><span>form</span></h1>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <p class="contact-form-name">
                        @Html.LabelFor(i => i.Name, "Name")
                        @Html.TextBoxFor(i => i.Name, new { @class = "form-control", placeholder = "Full Name" })
                        @Html.ValidationMessageFor(i => i.Name)
                    </p>
                    <p class="contact-form-email">
                        @Html.LabelFor(i => i.Email, "Email")
                        @Html.TextBoxFor(i => i.Email, new { @class = "form-control", placeholder = "Email Address" })
                        @Html.ValidationMessageFor(i => i.Email)
                    </p>
                    <p class="contact-form-subject">
                        @Html.LabelFor(i => i.Phone, "Subject")
                        @Html.TextBoxFor(i => i.Phone, new { @class = "form-control", placeholder = "Phone Number" })
                        @Html.ValidationMessageFor(i => i.Phone)
                    </p>
                    <p class="contact-form-subject">
                        @Html.LabelFor(i => i.Subject, "Subject")
                        @Html.TextBoxFor(i => i.Subject, new { @class = "form-control", placeholder = "Subject" })
                        @Html.ValidationMessageFor(i => i.Subject)
                    </p>
                    <p class="contact-form-message">
                        @Html.LabelFor(i => i.Text, "Message")
                        @Html.TextAreaFor(i => i.Text, new { @class = "form-control", placeholder = "Message", @rows = "8", @cols = "45" })
                        @Html.ValidationMessageFor(i => i.Text)
                    </p>
                    <p class="contact-form-submit vertical-margin-40">
                        <input type="submit" value="Send" id="contact_form_submit" name="contact_submit" class="theme_btn">
                    </p>
                    <p class="contact-form-message">
                        @Html.ValidationSummary(true)
                    </p>

                }
            </div>

        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/js/validate");
}


