@model System.Collections.Generic.IEnumerable<SiteWithPostgres.Entities.Link>
<h3>Links</h3>
<ul class="list2">
    @foreach (var link in Model)
    {
    <li><a href="@link.Url">@link.Title</a></li>    
    }
</ul>
