@model SiteWithPostgres.Entities.Page
<section id="social_section" class="parallax">
    <div class="container">
        <div class="row">
            <h1>@Model.Title</h1>
            <p class="first_indent">@Html.Raw(Model.Content)</p>
            <div class="col-sm-3 social to_animate" data-animation="fadeInUp">
                <a class="socialico-twitter" href="#" title="Twitter">#</a>
                <div class="connected-name">twitter</div>
                <div class="connected-subtext">Get the Latest News</div>
            </div>
            <div class="col-sm-3 social to_animate" data-animation="fadeInUp">
                <a class="socialico-facebook" href="https://www.facebook.com/Terra-Oryx-Environmental-Consulting-2013169792283364" title="Facebook">#</a>
                <div class="connected-name">Facebook</div>
                <div class="connected-subtext">Get the Latest News</div>
            </div>
            <div class="col-sm-3 social to_animate" data-animation="fadeInUp">
                <a class="socialico-linkedin" href="#" title="LinkedIn">#</a>
                <div class="connected-name">LinkedIn</div>
                <div class="connected-subtext">Get the Latest News</div>
            </div>
            <div class="col-sm-3 social to_animate" data-animation="fadeInUp">
                <a class="socialico-google" href="#" title="Google">#</a>
                <div class="connected-name">Google</div>
                <div class="connected-subtext">Get the Latest News</div>
            </div>
        </div>
    </div>
</section>
