
<div class="image-uploader">

    <div class="image-uploader-zone">
        <div class="image-uploader-instruction">
            <i class="fa fa-sign-in fa-rotate-90"></i>
            <strong>Click Here To Upload Image</strong>
            <br />Or Drag & Drop Image Here
        </div>
    </div>

    <div class="image-uploader-footer">

        <div class="image-progress-spinner pull-left">
            <i class="fa fa-cog fa-spin"></i>
            <span class="image-progress-message"></span>
        </div>

        <button type="button" class="btn btn-link btn-sm pull-right image-delete-button"><i class="fa fa-times fa-pad-right"></i>Delete</button>

        <div class="image-error-message"></div>
    </div>

    <div class="clearfix"></div>

</div>
