@{
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="@LanguageCode" dir="@(LanguageCode == " ar" ? "rtl" : "ltr" )">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Html.PageTitle(AppSettings.SiteTitle)</title>
    <meta name="description" content="A Template by Vossen Design" />
    <meta name="keywords" content="HTML5, Bootstrap 3, CSS3, javascript, PHP, onepage, responsive, mobile" />
    <meta name="author" content="Vossen Design" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">*@
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    @Styles.Render("~/css")
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/colors/red.css" id="color-skins" />
    @RenderSection("styles", false)
</head>
<body>
    <!-- Start Preloader -->
    <div id="preloader">
        <div class="loader">
            <img src="/img/assets/logo.png" alt="Vossen">
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Start Header -->
    <header>
        <nav class="navbar navbar-default navbar-alt" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand to-top" href="@Url.Action("Index", "Home", new {Area=""})">
                        <img src="/img/assets/logo.png" alt="Vossen" class="logo-big">
                        <img src="/img/assets/logo-small.png" alt="Vossen" class="logo-small">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav  navbar-right">

                        <li><a class="to-top">Home</a></li>
                        <li class="to-section"><a href="#about">About Us</a></li>
                        <li class="to-section"><a href="#team">Team</a></li>
                        <li class="to-section"><a href="#portfolio">Portfolio</a></li>

                        <li class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></span>
                            <ul class="dropdown-menu" role="menu">
                                <li class="active"><a href="#">Home - Parallax</a></li>
                                <li><a href="home-video.html">Home - Video Slider</a></li>
                                <li><a href="home-fullwidth.html">Home - Fullwidth</a></li>
                                <li><a href="home-landing-page.html">Home - Landing Page</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                                <li><a href="#" id="btn-buy"><span class="btn-buy">Buy Now</span></a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="blog-classic.html">Blog Classic</a></li>
                                <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                                <li><a href="blog-columns.html">Blog Columns</a></li>
                                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                <li><a href="blog-clean.html">Blog Clean</a></li>
                                <li><a href="blog-single-post-1.html">Single Post Image</a></li>
                                <li><a href="blog-single-post-2.html">Single Post Video</a></li>
                                <li><a href="blog-single-post-3.html">Single Post Slider</a></li>
                            </ul>
                        </li>

                        <li class="to-section"><a href="#contact">Contact</a></li>
                        <li><a class="social-icon" href="#"><i class="icon icon-social-twitter"></i></a></li>
                        <li><a class="social-icon" href="#"><i class="icon icon-social-facebook"></i></a></li>
                        <li><a class="social-icon" href="#"><i class="icon icon-support"></i></a></li>
                        @Html.Partial("_Layout_UserMenu")
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header>


    <!-- End Header -->
    @RenderBody()

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/bootstrap")
    @Scripts.Render("~/js/site")
    <script src="~/Scripts/plugins/moderniz.min.js"></script>
    <script src="~/Scripts/plugins/moderniz.min.js"></script>
    <script src="~/Scripts/plugins/smoothscroll.min.js"></script>
    <script src="~/Scripts/plugins/revslider.min.js"></script>
    <script src="~/Scripts/plugins/waypoints.min.js"></script>
    <script src="~/Scripts/plugins/parallax.min.js"></script>
    <script src="~/Scripts/plugins/easign1.3.min.js"></script>
    <script src="~/Scripts/plugins/cubeportfolio.min.js"></script>
    <script src="~/Scripts/plugins/owlcarousel.min.js"></script>
    <script src="~/Scripts/plugins/tweetie.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHqYb7Ko1TirvZiodYBOjdEWf7JZKYTVw&sensor=false"></script>
    <script src="~/Scripts/plugins/gmap3.min.js"></script>
    <script src="~/Scripts/plugins/wow.min.js"></script>
    <script src="~/Scripts/plugins/counterup.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", false)
</body>
</html>

