@using OrangeJetpack.Base.Core.Formatting
@using SiteWithPostgres.Web.Core.Identity
@using SiteWithPostgres.Web.Extensions

@{
    var baseRouteValues = new { Area = "", LanguageCode };
    var userRouteValues = new { Area = "User", LanguageCode };
    var adminRouteValues = new { Area = "Admin", LanguageCode };
}

@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@StringFormatter.ObjectFormat(LanguageService.GetResourceByLangKey(LanguageCode, "HelloFirstName"), new {FirstName = User.Identity.GetDisplayName()})<i class="fa fa-caret-down fa-pad-left"></i></a>
        <ul class="dropdown-menu">

            <li><a href="@Url.Action("MyAccount", "Account", userRouteValues)"><i class="fa fa-fw fa-user fa-pad-right"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "MyAccount")</a></li>
            <li><a href="@Url.Action("EditAccount", "Account", userRouteValues)"><i class="fa fa-fw fa-edit fa-pad-right"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "EditAccount")</a></li>
            <li><a href="@Url.Action("ChangePassword", "Account", userRouteValues)"><i class="fa fa-fw fa-lock fa-pad-right"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "ChangePassword")</a></li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="javascript:document.getElementById('signout').submit();"><i class="fa fa-fw fa-sign-out fa-pad-right"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "LogOut")</a>
                @using (Html.BeginForm("LogOut", "Account", baseRouteValues, FormMethod.Post, new {id = "signout"}))
                {
                    @Html.AntiForgeryToken()
                }
            </li>
        </ul>
    </li>

    if (User.IsInRole(Role.Administrator.ToString()))
    {
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index", "Users", adminRouteValues)"><i class="fa fa-fw fa-pad-right fa-user-plus"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "RegisteredUsers")</a></li>
                <li><a href="@Url.Action("Index", "Services", adminRouteValues)"><i class="fa fa-fw fa-pad-right fa-server"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "Services")</a></li>
                <li><a href="@Url.Action("Index", "Resources", adminRouteValues)"><i class="fa fa-fw fa-pad-right fa-file-text"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "Resources")</a></li>
                <li><a href="@Url.Action("Index", "Pages", adminRouteValues)"><i class="fa fa-fw fa-pad-right fa-file"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "Pages")</a></li>
                <li><a href="@Url.Action("Index", "Links", adminRouteValues)"><i class="fa fa-fw fa-pad-right fa-anchor"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "Links")</a></li>
                <li><a href="@Url.Action("Index", "Images", adminRouteValues)"><i class="fa fa-fw fa-pad-right fa-image"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "Images")</a></li>
                <li><a href="@Url.Action("Index", "Showcases", adminRouteValues)"><i class="fa fa-fw fa-pad-right fa-camera"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "Showcases")</a></li>
                <li><a href="@Url.Action("Index", "Contacts", adminRouteValues)"><i class="fa fa-fw fa-pad-right fa-inbox"></i>@LanguageService.GetResourceByLangKey(LanguageCode, "Inbox")</a></li>

                <li role="separator" class="divider"></li>
                @*<li class="submenu"><a href="@Url.Action("EmailTemplates", "Settings", adminRouteValues)"><i class="fa fa-fw fa-pad-right fa-envelope"></i>Email Templates</a></li>
        <li><a href="@Url.Action("Index", "ProgressReports", adminRouteValues)"><i class="fa fa-fw fa-pad-right fa-file-text-o"></i>Progress Reports</a></li>*@
            </ul>
        </li>
    }
}
else
{
    @*<li><a href="@Url.Action("Login", "Account", baseRouteValues)">@Global.Login</a></li>
    <li><a href="@Url.Action("Register", "Account", baseRouteValues)">@Global.SignUp</a></li>*@
}
