﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World - ASP.NET MVC</title>
    <base href="/">
    @Styles.Render("~/angularCss")
</head>
<body>
    <app-root></app-root>
    @RenderBody()
    @Scripts.Render("~/angularJs")
</body>
</html>
