@{
    Layout = "_LayoutBase.cshtml";
}

@section styles
{
    @RenderSection("styles", false)
}

@RenderSection("ShowCase", false)

@if (!IsSectionDefined("ShowCase"))
{
    <!-- Start Page Top -->  
    <section id="page-top" style="height:220px">
        <div class="hero">
        
            <img src="/img/backgrounds/bg-shortcodes.jpg" alt="hero">

            <div class="page-top-title text-center">
                <h2 class="white op-1">@ViewBag.Title</h2>
                <p class="home-subheading op-1">@AppSettings.SiteTitle</p>
            </div>
            
        </div>
    </section>
    <!-- End Page Top --> 
}

<div class="site-wrapper content">
    @RenderBody()
</div>


@section scripts
{
    @RenderSection("scripts", false)
}
