@using System.Globalization
@{
    var otherLanguage = CultureInfo.GetCultureInfo(LanguageCode == "en" ? "ar" : "en");  
}

<li>
    @using (Html.BeginForm("ChangeLanguage", "Home", new { area = "" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="referrer" value="@Request.Url" />
        <input type="hidden" name="language" value="@otherLanguage.TwoLetterISOLanguageName" />
        <button type="submit" class="btn-link text-bold" lang="@otherLanguage.TwoLetterISOLanguageName" title="@LanguageService.GetResourceByLangKey(LanguageCode, "ChangeLanguage")">@otherLanguage.NativeName</button>
    }
</li>
