@model SiteWithPostgres.Web.Areas.User.Models.PhoneNumberViewModel

<div class="row">
    <div class="col-md-4 col-xs-4">
        <div class="input-group">
            <div class="input-group-addon">
                <i id="AddressEntryFlag" class="flag @("flag-" + Model.CountryCode.ToLowerInvariant())"></i>
            </div>

            @Html.TextBoxFor(i => i.PhoneCountryCode, new { @class = "form-control" })

            <select id="PhoneCountryCodeList" class="form-control country-list">
                <option value=""></option>
                @foreach (var country in Model.Countries)
                {
                    <option value="@country.IsoCode" selected="@(country.PhoneCountryCode == Model.PhoneCountryCode)" data-phonecode="@country.PhoneCountryCode">@country.Name (@country.PhoneCountryCode)</option>
                }
            </select>

        </div>
    </div>
    <div class="col-md-8 col-xs-8">
        @Html.TextBoxFor(i => i.PhoneLocalNumber, new {@class = "form-control", type = "number no-stepper"})
    </div>
</div>

@Html.ValidationMessageFor(m => m.PhoneLocalNumber, "Please enter your phone number.")
