@using SiteWithPostgres.Core.UI
@model SiteWithPostgres.Web.Models.Shared.ConfirmationViewModel
@{
    ViewBag.Title = Model.PageTitle;
}

<div class="container" style="padding: 50px 0px;">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.StatusMessage(Model.ConfirmationMessage, StatusMessageType.Warning)

        <section class="form-buttons">
            <button type="submit" class="btn btn-default">@Global.Yes</button>
            <a href="javascript:history.back();" class="btn btn-default">@Global.No</a>
        </section>
    }
</div>
