@model OrangeJetpack.Services.Models.Email
@{
    const string bodyBackground = "#ebedee";
    const string headerBackground = "#f7f7f7";
    const string emailBackground = "#ffffff";
    const string logoUrl = "";
    const int logoWidth = 32;
    const int logoHeight = 32;
    const string fontFamily = "Arial, sans-serif";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@Model.Subject</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            font-family: @(fontFamily);
        }

        body {
            width: 100% !important;
            height: 100% !important;
            -webkit-text-size-adjust: none;
            -webkit-font-smoothing: antialiased;
            font-family: @(fontFamily);
            font-size: 13px;
        }

        img {
            max-width: 100%;
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        a:link,
        a:visited {
            color: blue;
            font-weight: normal;
            text-decoration: underline;
        }

        table {
            border-spacing: 0;
        }

        table td {
            border-collapse: collapse;
        }

        p {
            margin: 0 0 1em 0;
            font-size: 10pt;
        }

        h1, h2, h3, h4 {
            margin: 0 0 1em 0;
            color: black;
            font-size: 16pt;
            font-weight: normal;
            line-height: 100%;
        }

        h2 {
            font-size: 14pt;
        }

        h3 {
            font-size: 12pt;
        }

        h4 {
            font-size: 11pt;
        }

    </style>
</head>

<body bgcolor="@bodyBackground" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0; padding: 0; background-color: @bodyBackground; font-family: @fontFamily;">
    <table bgcolor="@headerBackground" style="width: 100%; background-color: @headerBackground;">
        <tr>
            <td></td>
            <td class="container" style="display: block !important; max-width: 600px !important; margin: 0 auto !important; clear: both !important;">
                <div class="content" style="display: block !important; max-width: 600px; margin: 0 auto; padding: 0;">
                    <table bgcolor="@headerBackground" style="width: 100%; background-color: @headerBackground">
                        <tr>
                            <td style="padding: 15px;">
                                @if (!string.IsNullOrEmpty(logoUrl))
                                {
                                    <img src="@logoUrl" style="max-width: 100%; width: @(logoWidth)px; height: @(logoHeight)px;" width="@logoWidth" height="@logoHeight" alt="@AppSettings.SiteTitle"/>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    <table style="width: 100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="container" bgcolor="@emailBackground" style="background-color: @emailBackground; display: block !important; max-width: 600px !important; margin: 0 auto !important; clear: both !important;">
                <div class="content" style="display: block !important; max-width: 600px; margin: 0 auto;">
                    <table>
                        <tr>
                            <td style="padding: 15px; font-family: @fontFamily;">
                                @Html.Raw(Model.Message)
                                <p>Regards, @AppSettings.SiteTitle Team</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
