@using SiteWithPostgres.Entities.Enum
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Image.AddEditViewModel

@{
    ViewBag.Title = "Add New Image";

}
@section styles
{
    <link href="~/Content/image-uploader.css" type="text/css" rel="stylesheet" />
}
<div class="row header-sp">
    <div class="@Html.Css().FormNormal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(i => i.Image.Url, "Image Url").Required()
                @Html.HiddenFor(i => i.Image.Url)
                <div class="image-upload-container">
                    @Html.Partial("_ImageUpload")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Image.ImageKey).Required()
                @Html.TextBoxFor(i => i.Image.ImageKey, new { @class = "form-control" })
                @Html.ValidationMessageFor(i => i.Image.ImageKey, "Please enter image key")
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Image.Title).Required()
                @Html.EditorFor(i => i.Image.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(i => i.Image.Title, "Please enter image title")
            </div>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Save</button>
            </section>

            @Html.ValidationSummary(false)
        }
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/image-uploader.js"></script>
    <script>
        $(function() {
            var multiUploaders = $(".image-upload-container .image-uploader");
            $(multiUploaders.get(0)).fileUpload({

                uploadUrl: "/ar/admin/images/upload-image",
                deleteUrl: "/ar/admin/images/delete-image",
                onUploadSuccessCallback: function (file, response) {
                    $("#@Html.IdFor(i => i.Image.Url)").val(response.baseUrl);
                }
            });

            $("input[name='Title[1].Value'], input[name='Title[0].Value']").change(function () {

                var titleAr = $("input[name='Title[1].Value']");
                var titleEn = $("input[name='Title[0].Value']");
                $("input[name='Image.Title']").val(titleAr + titleEn);
            });
        });
    </script>
}
