@using SiteWithPostgres.Entities.Enum
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Image.AddEditViewModel

@{
    ViewBag.Title = "Update Image";

}
@section styles
{
    <link href="~/Content/image-uploader.css" type="text/css" rel="stylesheet" />
}
<div class="row header-sp">
    <div class="@Html.Css().FormNormal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(i => i.Image.Url, "Image Url").Required()
                @Html.HiddenFor(i => i.Image.Url)
                <div class="image-upload-container">
                    @Html.Partial("_ImageUpload")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Image.ImageKey).Required()
                @Html.TextBoxFor(i => i.Image.ImageKey, new { @class = "form-control" })
                @Html.ValidationMessageFor(i => i.Image.ImageKey, "Please enter image key")
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Image.Title).Required()
                @Html.EditorFor(i => i.Image.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(i => i.Image.Title, "Please enter image title")
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Image.Status).Required()
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(i => i.Image.Status, ItemStatus.Public) <span class="text-success">@ItemStatus.Public.ToString()</span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(i => i.Image.Status, ItemStatus.Private) <span class="text-danger">@ItemStatus.Private.ToString()</span>
                    </label>
                </div>
                @Html.ValidationMessageFor(i => i.Image.Status, "Please enter image Status")
            </div>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Save</button>
            </section>
            @Html.HiddenFor(i => i.Image.ImageId)
        }
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/image-uploader.js"></script>
    <script>
        $(function() {
            var multiUploaders = $(".image-upload-container .image-uploader");
            $(multiUploaders.get(0)).fileUpload({

                imageUrl: "/SystemDir/images/@Model.Image.Url",
                uploadUrl: "/ar/admin/images/upload-image",
                deleteUrl: "/ar/admin/images/delete-image",
                onUploadSuccessCallback: function (file, response) {
                    $("#@Html.IdFor(i => i.Image.Url)").val(response.baseUrl);
                }
            });
        });
    </script>
}
