@using Kendo.Mvc.UI
@using SiteWithPostgres.Entities.Enum
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Image.IndexViewModel

@{
    ViewBag.Title = "Images";
}

<ul class="link-list">
    <li>
        <a href="@Url.Action("Add", "Images")"><i class="fa fa-plus"></i> Add New Image</a>
    </li>
</ul>
@(Html.Kendo().Grid<SiteWithPostgres.Entities.Image>()
          .Init(ajax => ajax.Action("GetData", "Images", new { search = Model.Search }))
          .Columns(columns =>
          {
              columns.Bound(i => i.Url).ClientTemplate("<img style='width:50px;height:50px;' class='img img-circle' src='/SystemDir/images/#=Url#'/>").Title("Image").Width(100);
              columns.Bound(i => i.Title);
              columns.Bound(i => i.ImageKey).Title("Key");
              columns.Bound(i => i.CreatedUtc).FormatDate().Title("Created");
              columns.LinkColumn("Details", "/en/admin/images/#=ImageId#/edit");
              columns.LinkColumn("Delete", "/en/admin/images/#=ImageId#/delete");

          }))
