@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Links.AddEditViewModel

@{
    ViewBag.Title = "Edit Link";
}
<div class="row">
    <div class="@Html.Css().FormWide">
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(i => i.Link.Title).Required()
            @Html.EditorFor(i => i.Link.Title)
            @Html.ValidationMessageFor(i => i.Link.Title, "Please enter link title")
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Link.Url).Required()
            @Html.TextBoxFor(i => i.Link.Url, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Link.Url, "Please enter link url")
        </div>
        <section class="form-buttons">
            <button type="submit" class="btn btn-default">Save</button>
        </section>

        @Html.HiddenFor(i => i.Link.LinkId)
}
    </div>
</div>


@section scripts
{
    <script>
        $(function() {

            $("input[name='Title[1].Value'], input[name='Title[0].Value']").change(function () {

                var titleAr = $("input[name='Title[1].Value']");
                var titleEn = $("input[name='Title[0].Value']");
                $("input[name='Link.Title']").val(titleAr + titleEn);
            });
        });
    </script>
}
