@using Kendo.Mvc.UI
@using SiteWithPostgres.Entities
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Links.IndexViewModel

@{
    ViewBag.Title = "Links";
    
}

<ul class="link-list">
    <li><a href="@Url.Action("Add", "Links", new {Area="Admin"})"><i class="fa fa-plus fa-pad-right"></i>Add New Link</a></li>
    <li><a href="#"><i class="fa fa-file-excel-o fa-pad-right"></i>Download Excel</a></li>
</ul>

@(Html.Kendo().Grid<SiteWithPostgres.Entities.Link>()
      .Init(ajax => ajax.Action("GetData", "Links", new { search = Model.Search }))
      .Columns(columns =>
      {
          columns.Bound(i => i.Title);
          columns.Bound(i => i.Url);
          columns.Bound(i => i.CreatedUtc).FormatDate().Title("Created");
          columns.LinkColumn("Details", "/en/admin/links/#=LinkId#/edit");
          columns.LinkColumn("Delete", "/en/admin/links/#=LinkId#/delete");

      }))
