@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Entities.Contact

@{
    ViewBag.Title = Model.Subject;
}

<div class="row">
    <div class="@Html.Css().FormNarrow">
        <div class="form-group">
            @Html.Label("From")
            <div>
                @Model.Name (@Model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Phone")
            <div>
                @Model.Phone
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Recived At")
            <div>
                @Model.CreatedUtc.ToString("dd/MM/yyyy hh:mm tt")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Subject")
            <div>
                @Model.Subject
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Content")
            <div>
                @Model.Text
            </div>
        </div>
        <section class="form-buttons">
            <a class="btn btn-default" href="@Url.Action("Index")">Back To List</a>
        </section>
    </div>
</div>
