@using SiteWithPostgres.Web.Extensions
@model string

@{
    ViewBag.Title = "API Key";
}

<div class="@Html.Css().FormNormal">
    <section class="form-section">
        <div class="form-group">
            @Html.Label("API Key")
            @Html.TextBox("apikey", Model, new { @class = "form-control" })
            <div class="info help-block">
                Your API key may grant administrative access to your site's content and data. Do not share this key with unauthorized users.
            </div>
        </div>
    </section>
</div>
