@model Dictionary<string, string>

@{
    ViewBag.Title = "Environmental Variables";
}

@section styles {
    <style>
        .dl-horizontal dt {
            width: 260px;
        }

        .dl-horizontal dd {
            margin-left: 280px;
        }
    </style>
}

<dl class="dl-horizontal">
    @foreach (var item in Model.OrderBy(i => i.Key))
    {
        <dt title="@item.Key">@item.Key</dt>
        <dd>@item.Value</dd>
    }
</dl>
