@using SiteWithPostgres.Entities.Enum
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Showcases.AddEditViewModel

@{
    ViewBag.Title = "Add New Showcase";

}
@section styles
{
    <link href="~/Content/image-uploader.css" type="text/css" rel="stylesheet" />
}
<div class="row header-sp">
    <div class="@Html.Css().FormNormal">
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(i => i.Showcase.Url, "Image Url").Required()
            @Html.HiddenFor(i => i.Showcase.Url)
            <div class="image-upload-container">
                @Html.Partial("_ImageUpload")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Showcase.Title).Required()
            @Html.EditorFor(i => i.Showcase.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Showcase.Title, "Please enter showcase title")
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Showcase.DisplayOrder, "Display Order").Required()
            @Html.TextBoxFor(i => i.Showcase.DisplayOrder, new { @class = "form-control", @type="number" })
            @Html.ValidationMessageFor(i => i.Showcase.DisplayOrder, "Please enter showcase display order")
        </div>

        <section class="form-buttons">
            <button type="submit" class="btn btn-default">Save</button>
        </section>

        @Html.ValidationSummary(false)
}
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/image-uploader.js"></script>
    <script>
        $(function() {
            var multiUploaders = $(".image-upload-container .image-uploader");
            $(multiUploaders.get(0)).fileUpload({

                uploadUrl: "/ar/admin/showcases/upload-image",
                deleteUrl: "/ar/admin/showcases/delete-image",
                onUploadSuccessCallback: function (file, response) {
                    $("#@Html.IdFor(i => i.Showcase.Url)").val(response.baseUrl);
                }
            });

            $("input[name='Title[1].Value'], input[name='Title[0].Value']").change(function () {

                var titleAr = $("input[name='Title[1].Value']");
                var titleEn = $("input[name='Title[0].Value']");
                $("input[name='Showcase.Title']").val(titleAr + titleEn);
            });
        });
    </script>
}
