@using SiteWithPostgres.Entities.Enum
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Showcases.AddEditViewModel

@{
    ViewBag.Title = "Update Showcase";

}
@section styles
{
    <link href="~/Content/image-uploader.css" type="text/css" rel="stylesheet" />
}
<div class="row header-sp">
    <div class="@Html.Css().FormNormal">
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(i => i.Showcase.Url, "Image Url").Required()
            @Html.HiddenFor(i => i.Showcase.Url)
            <div class="image-upload-container">
                @Html.Partial("_ImageUpload")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Showcase.Title).Required()
            @Html.EditorFor(i => i.Showcase.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Showcase.Title, "Please enter showcase title")
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Showcase.Title2)
            @Html.EditorFor(i => i.Showcase.Title2, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Showcase.Title2, "Please enter showcase line 2")
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Showcase.Title3)
            @Html.EditorFor(i => i.Showcase.Title3, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Showcase.Title3, "Please enter showcase line 3")
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Showcase.NavigationUrl, "Navigation URL")
            @Html.TextBoxFor(i => i.Showcase.NavigationUrl, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Showcase.NavigationUrl, "Please enter showcase navigation url")
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Showcase.DisplayOrder, "Display Order").Required()
            @Html.TextBoxFor(i => i.Showcase.DisplayOrder, new { @class = "form-control", @type = "number" })
            @Html.ValidationMessageFor(i => i.Showcase.DisplayOrder, "Please enter showcase display order")
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Showcase.ItemStatus).Required()
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(i => i.Showcase.ItemStatus, ItemStatus.Public) <span class="text-success">@ItemStatus.Public.ToString()</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(i => i.Showcase.ItemStatus, ItemStatus.Private) <span class="text-danger">@ItemStatus.Private.ToString()</span>
                </label>
            </div>
            @Html.ValidationMessageFor(i => i.Showcase.ItemStatus, "Please select showcase status")
        </div>

        <section class="form-buttons">
            <button type="submit" class="btn btn-default">Save</button>
        </section>
        @Html.HiddenFor(i => i.Showcase.SlideId)
}
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/image-uploader.js"></script>
    <script>
        $(function() {
            var multiUploaders = $(".image-upload-container .image-uploader");
            $(multiUploaders.get(0)).fileUpload({

                imageUrl: "/SystemDir/showcases/@Model.Showcase.Url",
                uploadUrl: "/ar/admin/showcases/upload-image",
                deleteUrl: "/ar/admin/showcases/delete-image",
                onUploadSuccessCallback: function (file, response) {
                    $("#@Html.IdFor(i => i.Showcase.Url)").val(response.baseUrl);
                }
            });
        });
    </script>
}
