@using Kendo.Mvc.UI
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Showcases.IndexViewModel

@{
    ViewBag.Title = "Showcase Managment";
    
}

<ul class="link-list">
    <li>
        <a href="@Url.Action("Add", "Showcases")"><i class="fa fa-plus"></i> Add New Showcase</a>
    </li>
</ul>
@(Html.Kendo().Grid<SiteWithPostgres.Entities.Slide>()
      .Init(ajax => ajax.Action("GetData", "Showcases", new { search = Model.Search }))
      .Columns(columns =>
      {
          columns.Bound(i => i.Url).ClientTemplate("<img style='width:50px;height:50px;' class='img img-circle' src='/SystemDir/showcases/#=Url#'/>").Title("Image").Width(100);
          columns.Bound(i => i.Title);
          columns.Bound(i => i.ItemStatus).ClientTemplate("#=RenderStatus(ItemStatus)#");
          columns.Bound(i => i.CreatedUtc).FormatDate().Title("Created");
          columns.LinkColumn("Details", "/en/admin/showcases/#=SlideId#/edit");
          columns.LinkColumn("Delete", "/en/admin/showcases/#=SlideId#/delete");

      }))

@section scripts
{
    <script>
        function RenderStatus(status) {
            if (status == 1) {
                return "<span class='label label-success'>Public</span>";    
            }
            return "<span class='label label-danger'>Hidden</span>";
        }
    </script>
}
