@using Kendo.Mvc.UI

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/css/admin")
    @RenderSection("styles", false)
}



<div class="container" style="padding-bottom: 50px;">
    @RenderBody()
</div>

@section scripts {
    <script src="//cdn.ckeditor.com/4.7.2/full/ckeditor.js"></script>
    <script src="~/scripts/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo.aspnetmvc.min.js"></script>
    
    @Html.Kendo().DeferredScripts()
    @RenderSection("scripts", false)
}
