@using SiteWithPostgres.Entities.Enum
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Services.AddEditViewModel

<div class="form-group">
    @Html.LabelFor(i => i.Service.Image, "Icon")
    @Html.TextBoxFor(i => i.Service.Image, new {@class="form-control"})
    @Html.ValidationMessageFor(i => i.Service.Image, "Please enter service icon")
</div>
<div class="form-group">
    @Html.LabelFor(i => i.Service.Title, "Title").Required()
    @Html.EditorFor(i => i.Service.Title)
    @Html.ValidationMessageFor(i => i.Service.Title, "Please enter service title")
</div>
<div class="form-group">
    @Html.LabelFor(i => i.Service.Prev, "Preview")
    @Html.EditorFor(i => i.Service.Prev)
    @Html.ValidationMessageFor(i => i.Service.Prev, "Please enter service preview")
</div>
<div class="form-group">
    @Html.LabelFor(i => i.Service.Description, "Description")
    @Html.EditorFor(i => i.Service.Description)
    @Html.ValidationMessageFor(i => i.Service.Description, "Please enter service description")
</div>


