@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Services.AddEditViewModel

@{
    ViewBag.Title = "Add Service";
}

<div class="row">
    <div class="@Html.Css().FormWide">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_AddEdit", Model)
            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Save</button>
            </section>
        }
    </div>
</div>


@section scripts
{
    <script>
        $(function() {

            $("input[name='Title[1].Value'], input[name='Title[0].Value']").change(function () {

                var titleAr = $("input[name='Title[1].Value']");
                var titleEn = $("input[name='Title[0].Value']");
                $("input[name='Service.Title']").val(titleAr + titleEn);
            });
        });
    </script>
}
