@using Kendo.Mvc.UI
@using SiteWithPostgres.Entities
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Services.IndexViewModel

@{
    ViewBag.Title = "Services";
}
<ul class="link-list">
    <li><a href="@Url.Action("Add", "Services", new {Area="Admin"})"><i class="fa fa-plus fa-pad-right"></i>Add New Service</a></li>
</ul>

@(Html.Kendo().Grid<Service>()
          .Init(ajax => ajax.Action("GetData", "Services", new { search = Model.Search }))
          .Columns(columns =>
          {
              columns.Bound(i => i.Image).ClientTemplate("<i class=\"fas fa-3x #=Image#\"></i>").Title("Icon").Width(100);
              columns.Bound(i => i.Title);
              columns.Bound(i => i.CreatedUtc).FormatDate().Title("Created");
              columns.LinkColumn("Details", "/en/admin/services/#=ServiceId#/edit");
              columns.LinkColumn("Delete", "/en/admin/services/#=ServiceId#/delete");

          }))
