@model SiteWithPostgres.Web.Models.Account.NeedPasswordViewModel

@{
    ViewBag.Title = Global.NeedPassword;
}

<p class="lead">@Global.NeedPasswordInstructions</p>

<div class="row">
    <div class="@Html.Css().FormNarrow">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user fa-fw"></i>
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Global.Email, autofocus = "autofocus" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, Global.EmailRequiredErrorMessage)
                </div>
            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">@Global.SendInstructions</button>
            </section>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("/js/validate")
}
