@model SiteWithPostgres.Web.Models.Account.RegisterViewModel
@{
    ViewBag.Title = Global.Register;
}

@section styles {
    <link href="~/Content/flags/flags.css" rel="stylesheet" />
}

<div class="row header-sp">
    <div class="@Html.Css().FormNarrow">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, Global.FirstName).Required("Required")
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autocorrect = "off", spellcheck = "false", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.FirstName, Global.FirstNameRequiredErrorMessage)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, Global.LastName).Required()
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", autocorrect = "off", spellcheck = "false" })
                    @Html.ValidationMessageFor(m => m.LastName, Global.LastNameRequiredErrorMessage)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, Global.Email).Required()
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", type = "email"})
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, Global.EmailRequiredErrorMessage)
                </div>
                <div class="form-group">
                    @Html.Label(Global.PhoneNumber).Required()
                    @Html.Partial("_PhoneNumber", Model.PhoneNumber)
                    @Html.ValidationMessageFor(i => i, Model.PhoneNumber.PhoneLocalNumber, Global.PhoneNumberRequiredErrorMessage)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, Global.Password).Required()
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, Global.PasswordInvalidErrorMessage)
                </div>
            </section>

            <section>
                <div class="form-group">
                    <i class="fa fa-lg fa-check-square-o"></i>
                    @Html.Raw(string.Format(Global.RegistrationAgreementAcknowledgement, Url.Action("TermsAndConditions", "Home", new { LanguageCode })))
                </div>
            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">@Global.Register</button>
            </section>
        }
    </div>
</div>
