@model SiteWithPostgres.Web.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = Global.ResetPassword;
}

<p class="lead">@Global.ResetPasswordInstructions</p>

<div class="row">
    <div class="@Html.Css().FormNarrow">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", autofocus = "autofocus", placeholder = Global.NewPassword })
                    </div>
                    @Html.ValidationMessageFor(m => m.NewPassword, Global.PasswordInvalidErrorMessage)
                </div>
            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">@Global.ResetPassword</button>
            </section>
        }
    </div>
</div>
