@model SiteWithPostgres.Web.Areas.User.Models.Account.ChangePasswordViewModel

@{
    ViewBag.Title = Global.ChangePassword;
}

<div class="row">

    <div class="@Html.Css().FormNarrow">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    @Html.LabelFor(m => m.CurrentPassword, Global.CurrentPassword).Required()
                    @Html.PasswordFor(i => i.CurrentPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.CurrentPassword, Global.CurrentPasswordValidationMessage)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, Global.NewPassword).Required()
                    @Html.PasswordFor(i => i.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.NewPassword, Global.NewPasswordValidationMessage)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, Global.ConfirmPassword).Required()
                    @Html.PasswordFor(i => i.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.ConfirmPassword, Global.ConfirmPasswordMatchErrorMessage)
                </div>
            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">@Global.ChangePassword</button>
            </section>
        }
    </div>
</div>
