@model SiteWithPostgres.Web.Areas.User.Models.Account.EditAccountViewModel

@{
    ViewBag.Title = Global.EditAccount;
}

@section styles
{
    <link href="~/Content/flags/flags.css" rel="stylesheet" />
}

<div class="row">

    <div class="@Html.Css().FormNormal">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, Global.FirstName).Required()
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autocorrect = "off", spellcheck = "false", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.FirstName, Global.FirstNameRequiredErrorMessage)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, Global.LastName).Required()
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", autocorrect = "off", spellcheck = "false" })
                    @Html.ValidationMessageFor(m => m.LastName, Global.LastNameRequiredErrorMessage)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, Global.Email).Required()
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
                    @Html.ValidationMessageFor(m => m.Email, Global.EmailRequiredErrorMessage)
                </div>
                <div class="form-group">
                    @Html.Label(Global.PhoneNumber).Required()
                    @Html.Partial("_PhoneNumber", Model.PhoneNumber)
                    @Html.ValidationMessageFor(i => i, Model.PhoneNumber.PhoneLocalNumber, Global.PhoneNumberRequiredErrorMessage)
                </div>
            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">@Global.Save</button>
            </section>
        }
    </div>
</div>
