@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Resource.AddEditViewModel
<div class="form-group">
    @Html.LabelFor(i => i.Resource.Name).Required()
    @Html.TextBoxFor(i => i.Resource.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(i => i.Resource.Name, "Please enter resource name")
</div>
<div class="form-group">
    @Html.LabelFor(i => i.Resource.Value).Required()
    @Html.EditorFor(i => i.Resource.Value)
    @Html.ValidationMessageFor(i => i.Resource.Value, "Please enter resource value")
</div>
@Html.HiddenFor(i => i.Resource.ResourceId)




