@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Resource.AddEditViewModel

@{
    ViewBag.Title = "Edit Resource";
}
<div class="row">
    <div class="@Html.Css().FormNarrow">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_AddEdit", Model)
            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Save</button>
            </section>
        }
    </div>
</div>
