@using Kendo.Mvc.UI
@using SiteWithPostgres.Entities
@using SiteWithPostgres.Web.Areas.admin.Models.Resource
@using SiteWithPostgres.Web.Extensions
@model IndexViewModel

@{
    ViewBag.Title = "Resources";
    
}

<ul class="link-list">
    <li><a href="@Url.Action("Add", "Resources", new {Area="Admin"})"><i class="fa fa-plus fa-pad-right"></i>Add New Resource</a></li>
    <li><a href="@Url.Action("ReloadCach", "Resources", new {Area="Admin"})"><i class="fa fa-refresh fa-pad-right"></i>Reload Resources Files</a></li>
    <li><a href="#"><i class="fa fa-file-excel-o fa-pad-right"></i>Download Excel</a></li>
</ul>

@(Html.Kendo().Grid<Resource>()
      .Init(ajax => ajax.Action("GetData", "Resources", new { search = Model.Search }))
      .Columns(columns =>
      {
          columns.Bound(i => i.Name);
          columns.Bound(i => i.Value);
          columns.Bound(i => i.CreatedUtc).FormatDate().Title("Created");
          columns.LinkColumn("Details", "/en/admin/resources/#=ResourceId#/edit");
          columns.LinkColumn("Delete", "/en/admin/resources/#=ResourceId#/delete");

      }))
