@using Humanizer
@using SiteWithPostgres.Web.Extensions
@using SiteWithPostgres.Web.Resources
@using OrangeJetpack.Base.Core.Formatting
@model SiteWithPostgres.Web.Areas.admin.Models.Users.DetailsViewModel

@{
    ViewBag.Title = "User Details - " + NameFormatter.GetFullName(Model.FirstName, Model.LastName);
}

<h2>Summary</h2>

<section class="form-section">
    
    <div class="form-group">
        @Html.Label("User ID")
        <p class="form-control-static">
            @Model.UserId
        </p>
    </div>

<div class="form-group">
        @Html.Label("Name")
        <p class="form-control-static">
            @NameFormatter.GetFullName(Model.FirstName, Model.LastName)
        </p>
    </div>

    <div class="form-group">
        @Html.Label("Registered")
        <p class="form-control-static">
            @Model.CreatedUtc.Humanize()
            <small>(<time datetime="@Model.CreatedUtc.ToString("s")">@DateTimeFormatter.ToLocalTime(Model.CreatedUtc, DateTimeFormatter.Format.Full)</time>)</small>
        </p>
    </div>
    
</section>

<h2>Edit User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section>

        <div class="form-group">
            @Html.LabelFor(i => i.FirstName, Global.FirstName).Required()
            @Html.TextBoxFor(i => i.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.FirstName, "Please enter a first name.")
        </div>

        <div class="form-group">
            @Html.LabelFor(i => i.LastName, Global.LastName).Required()
            @Html.TextBoxFor(i => i.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.LastName, "Please enter a last name.")
        </div>

        <div class="form-group">
            @Html.LabelFor(i => i.Email, Global.Email).Required()
            @Html.TextBoxFor(i => i.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Email, "Please enter a valid email address.")
            <div class="bs-callout bs-callout-warning">
                <h4>Warning</h4>
                <small>Changing a user's username or email address may disrupt his or her ability to sign into the site, please be very careful when changing.</small>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Roles")
            @Html.CheckBoxList("SelectedRoles", Model.Roles)
        </div>
    </section>

    <section class="form-buttons">
        <button type="submit" class="btn btn-default">Save</button>
    </section>
}
