@using Kendo.Mvc.UI
@using SiteWithPostgres.Web.Areas.Admin.Models.Users
@using SiteWithPostgres.Web.Extensions
@model SiteWithPostgres.Web.Areas.admin.Models.Users.IndexViewModel
@{
    ViewBag.Title = "Users";
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline form-search" }))
{
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Search name or email..." })
        </div>
    </div>
    <div class="form-group">
        @Html.DropDownList("Role", Model.RoleList,  "All Roles", new { @class = "form-control auto-submit" })
    </div>
}

<ul class="link-list">
    <li><a href="@Url.Action("UsersExcel", "Users", new { search = Model.Search, role = Model.Role })"><i class="fa fa-file-excel-o fa-pad-right"></i>Download Excel</a></li>
</ul>

@(Html.Kendo().Grid<UserViewModel>()
    .Init(ajax => ajax.Action("GetUsers", "Users", new { search = Model.Search, role = Model.Role }))
    .Columns(columns =>
    {
        columns.Bound(i => i.FirstName);
        columns.Bound(i => i.LastName);
        columns.Bound(i => i.Email);
        columns.Bound(i => i.CreatedUtc).FormatDate().Title("Registered");
        columns.LinkColumn("التفاصيل", "/en/admin/users/#=UserId#/details");
    })
)
