@model SiteWithPostgres.Web.Controllers.AboutViewModel

@{
    ViewBag.Title = Model.Page.Title;
}

@section styles
{
    <style>
        ul {
            margin-bottom: 35px;
        }
    </style>
}

<div class="row header-sp">
    <div class="col-md-9">
        <h2>@Model.Page.Title</h2>
        <p>
            @Html.Raw(Model.Page.Content)
        </p>
    </div>
    <div class="col-md-3">
        @Html.Action("NewsList", "Home")
    </div>
</div>
